article:not(#directory-description) {
    margin: 2rem 10vw 4rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--default-bg-color);
    box-shadow: var(--shadow-lg);
    transition: background .6s;
}

@media screen and (max-width: 767px) {
    /* Mobile phone style */
    article:not(#directory-description) {
        padding: 1rem 1.6rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: .75rem;
        box-shadow: var(--shadow-sm);
    }
}

article:empty {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
blockquote {
    color: var(--default-tx-color);
    transition: color .3s .15s;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
p code,
li code,
blockquote code:not(pre code) {
    /* inline code style */
    padding: 2px 8px;
    margin: 0 4px;
    color: var(--default-inline-code-color);
    background-color: var(--default-inline-code-bg-color);
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: none !important;
    transition: color .3s .15s,
                background .3s .15s;
}

article a::before {
    display: inline-block;
    content: "🔗";
}
article a:visited {
    color: var(--default-link-visited-color);
}
article a:link {
    color: var(--default-link-unvisited-color);
}

article u {
    position: relative;
    bottom: 0;
    text-decoration: none;
    background-image: linear-gradient(to right, var(--default-tx-color), var(--default-tx-color));
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 1px;
    transition: bottom .3s .05s,
                padding .3s .05s,
                background-size .3s;
}
article u:hover {
    bottom: 1px;
    padding-bottom: 2px;
    background-size: 100% 3px;
}

article del {
    padding: 0 2px;
    text-decoration: none;
    background-image: linear-gradient(to right, var(--default-tx-color), var(--default-tx-color));
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 2px;
    transition: background-size .3s;
}
article del:hover {
    background-size: 100% 4px;
}

article span.dim {
    /* dimmed text */
    opacity: .75;
}

article hr {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* code block start */
@media screen and (max-width: 767px) {
    /* Mobile phone style */
    article pre:not(blockquote pre) {
        width: calc(100% + 3.2rem);
        margin-left: -1.6rem !important;
        margin-right: -1.6rem !important;
    }
    article pre code:not(blockquote pre code) {
        border-radius: 0 !important;
    }
}
article pre code {
    /* code block */
    display: block;
    position: relative;
    padding: calc(1rem + 4px) 1rem 1rem;
    overflow-x: auto;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--default-block-code-bg-color);
    box-shadow: var(--shadow-md);
    transition: box-shadow .3s;
}
article pre code:hover {
    box-shadow: var(--shadow-lg);
}
article pre code::before {
    /* show language name for code block */
    position: absolute;
    top: 2px;
    right: 8px;
    content: attr(data-language);
    color: rgba(255, 255, 255, 0.85);
    font-size: .75rem;
    font-weight: bold;
}
article pre code span {
    opacity: 1 !important;
}
/* code block end */

/* blockquote start */
@media screen and (max-width: 767px) {
    article blockquote {
        margin-left: 1rem !important;
        margin-right: 0 !important;
    }
    article blockquote > pre,
    article blockquote > div.media-container {
        margin-left: -1rem;
        margin-right: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    article blockquote > pre code {
        margin-left: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    article blockquote > .details details {
        margin-left: -1rem;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    article blockquote > .details .details-children {
        margin-left: -1rem;
        border-bottom-right-radius: 0;
    }
    article blockquote > .details .details-children pre code {
        border-radius: 0;
    }
    article blockquote > .details .details-children pre,
    article blockquote > .details .details-children div.media-container {
        margin-left: -1.6rem;
        margin-right: -1.6rem;
        border-radius: 0;
    }
}
article blockquote {
    position: relative;
    padding: 0.1px 1rem;
    margin-right: 1rem;
    color: var(--default-tx-color);
    background-color: var(--hovered-bg-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

article blockquote code:not(pre code) {
    filter: invert(15%);
}

article blockquote::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: " ";
    width: 2px;
    height: 100%;
    background-color: var(--default-tx-color);
    cursor: pointer;
    z-index: 1;
    transition: width .3s,
                transform .3s .05s;
}

article blockquote:hover::before {
    width: 6px;
    transform: translateX(-3px);
}
/* blockquote end */

/* details start */
article .details {
    margin: 1rem 0;
}

article details {
    padding: 0 1rem;
    border-radius: 8px;
    transition: background .3s,
                padding .3s .05s,
                box-shadow .3s .05s;
}

@media screen and (max-width: 767px) {
    /* Mobile phone style */
    article > .details {
        margin-left: -1.6rem;
        margin-right: -1.6rem;
    }
    article details {
        border-radius: 0;
    }
    article .details .details-children {
        margin: 0 1.6rem;
        padding: 0 1.6rem !important;
    }
    article .details-children > div pre:last-child,
    article .details-children > div div.media-container:last-child {
        margin-bottom: 0;
    }
}


body:not(.dark) article details[open] {
    background-color: var(--default-bg-color);
}

article details[open] {
    padding-top: .6rem;
    padding-bottom: .6rem;
    box-shadow: var(--shadow-sm);
}

.dark article details[open] {
    background-color: var(--shallow-bd-color);
}

article details summary {
    color: var(--default-tx-color);
    font-size: larger;
    outline: none;
    user-select: none;
    cursor: pointer;
}
article details summary:focus-visible {
    outline: auto;
}

article .details .details-children {
    display: grid;
    grid-template-rows: 0fr;
    padding: 0 1rem;
    border: 2px solid transparent;
    border-top: none;
    overflow: hidden;
    transition: grid-template-rows .3s .15s,
                border .3s .15s;
}
article .details .details-children > div {
    min-height: 0;
}
article details[open] + .details-children {
    grid-template-rows: 1fr;
    border-color: var(--shallow-bd-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* details end */

/* math formula start */
@media screen and (min-width: 1024px) {
    /* PC style */
    article div.math {
        font-size: x-large !important;
    }
}

article div.math {
    font-size: larger;
    text-align: center;
    line-height: 1.75;
}
article span.math {
    font-size: 1.125rem;
}
/* math formula end */

/* media elements start */
article div.media-container {
    margin: 1rem 1rem 1.5rem;
    background-color: var(--default-bg-color);
    font-size: 0;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    overflow: hidden;
    transition: box-shadow .3s;
}
@media screen and (max-width: 767px) {
    /* Mobile phone style */
    article div.media-container:not(blockquote div.media-container) {
        width: calc(100% + 3.2rem);
        margin-left: -1.6rem;
        margin-right: -1.6rem;
        border-radius: 0;
    }
}
@media screen and (min-width: 1024px) {
    /* PC style */
    article div.media-container:not(blockquote div.media-container) {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

article div.media-container:hover {
    box-shadow: var(--shadow-md);
}

div.media-container img,
div.media-container video,
div.media-container audio,
div.media-container iframe {
    width: 100%;
    vertical-align: bottom;
}

div.media-container img {
    cursor: pointer;
}
audio::-webkit-media-controls-panel {
    background-color: var(--default-bg-color);
}
div.media-container iframe {
    border: none;
    height: 50vh;
}
/* media elements end */

/* table elements start */
table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--default-tx-color);
    border: 1px solid var(--shallow-bd-color);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    transition: box-shadow .3s;
}
table:hover {
    box-shadow: var(--shadow-md);
}

.dark table {
    border-width: 2px;
}

@media screen and (max-width: 767px) {
    /* Mobile phone style */
    body:not(.dark) table {
        border-left: none;
        border-right: none;
    }
    table {
        width: calc(100% + 3.2rem);
        margin-left: -1.6rem;
        margin-right: -1.6rem;
        border-width: 2px;
        border-radius: 0;
    }
}

thead {
    font-weight: bold;
}

th:first-child,
td:first-child {
    padding-right: 0 !important;
}
th, td {
    padding: 8px 18px !important;
    font-size: .85rem;
    text-align: left;
}
th {
    opacity: .85;
}
td {
    border-top: 2px solid var(--shallow-bd-color);
}
/* table elements end */
