nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--page-horizonal-padding) 0;
    font-size: larger;
    font-weight: bold;
    user-select: none;
}

@media screen and (max-width: 767px) {
    /* Mobile phone style */
    nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.dark #homepage img, .dark #rss-icon img {
    filter: invert(100%);
}
#homepage img {
    padding-right: .4rem;
}

.icon-btn {
    display: inline-flex;
    height: 2rem;
    align-items: center;
    padding: 6px .6rem;
    color: var(--default-tx-color) !important;
    background-color: var(--default-bg-color);
    border: solid 1px var(--btn-bd-color);
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    cursor: pointer;
    text-decoration: none !important;
    transition: background .3s,
                box-shadow .3s;
}

.icon-btn img {
    height: 1.5rem;
    transition: filter .3s .15s;
}

.icon-btn:hover {
    background-color: var(--hovered-bg-color);
    box-shadow: var(--shadow-md-1);
}

.icon-btn span {
    transition: color .3s .15s,
                transform .3s;
}

nav .icon-btn:hover span {
    transform: translateY(-3px);
}

.icon-btn span::before {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    content: " ";
    border-bottom: solid 2px var(--default-tx-color);
    width: 0;
    transition: width .3s;
}

.icon-btn:hover span::before {
    width: 100%;
}

body.dark .icon-btn {
    border-width: 3px;
}

body:not(.dark) #light-btn {
    display: none;
}

body.dark #dark-btn {
    display: none;
}
