@import url(./color.css);
@import url(./navigator.css);
@import url(./main.css);
@import url(./article.css);
@import url(../libs/highlight-es/github-dark.css);

body {
    --shadow-sm: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px  0 rgba(0,0,0,.12) !important;
    --shadow-md: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px  0 rgba(0,0,0,.12) !important;
    --shadow-lg: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12) !important;

    margin: 0;
    background-color: var(--allpage-bg-color);
    transition: background .6s,
                color .3s;
}

/* close shadows in dark mode */
body.dark {
    --shadow-sm: none !important;
    --shadow-md: none !important;
    --shadow-lg: none !important;
}

.dark footer {
    opacity: .85 !important;
}

footer {
    margin-bottom: 1rem;
    text-align: center;
    opacity: .65;
    color: var(--default-tx-color);
}
footer a:visited {
    color: var(--default-link-visited-color);
}
footer a:link {
    color: var(--default-link-unvisited-color);
}
