body:not(.dark) {
    --default-tx-color: #333;
    --hovered-tx-color: #000;

    --default-bg-color: #fff;
    --allpage-bg-color: #f6f6f6;
    --hovered-bg-color: #eee;

    --shallow-bd-color: #e0e0e0;
    --deep-bd-color: #666;

    --default-img-shadow-color: #bbb;
    --default-link-visited-color: deeppink;

    --default-code-color: #000;
    --default-code-bg-color: #eee;
}

body.dark {
    --default-tx-color: #eee;
    --hovered-tx-color: #fff;

    --default-bg-color: #121212;
    --allpage-bg-color: #000;
    --hovered-bg-color: #333;

    --shallow-bd-color: #616161;
    --deep-bd-color: #666;

    --default-img-shadow-color: #444;
    --default-link-visited-color: hotpink;

    --default-code-color: #eee;
    --default-code-bg-color: #333;
}