@media screen and (min-width: 1024px) {
    /* PC style */
    article div.math {
        font-size: x-large !important;
    }
}

article div.math {
    width: max-content;
    max-width: 100%; /* prevent overflow*/
    margin: 0 auto;
    color: var(--default-tx-color);
    font-size: larger;
    line-height: 1.75;
}
article span.math {
    font-size: 1.125rem;
}
