@media screen and (min-width: 960px) {
    /* PC style */
    div.math {
        font-size: x-large !important;
    }
}

div.math {
    width: max-content;
    max-width: 100%; /* prevent overflow*/
    margin: 0 auto;
    color: var(--default-tx-color);
    font-size: larger;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 1.75;
}
span.math {
    font-size: 1.125rem;
}
