@import url(./inline.css);
@import url(./list.css);
@import url(./formula.css);
@import url(./table.css);
@import url(./media.css);
@import url(./code_block.css);
@import url(./details_block.css);
@import url(./quote_block.css);

article {
    margin: 2rem var(--page-horizonal-padding) 4rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--default-tx-color);
    background-color: var(--default-bg-color);
    box-shadow: var(--shadow-lg);
    transition: background .6s;
}

@media screen and (max-width: 767px) {
    /* Mobile phone style */
    article {
        padding: 1rem 1.6rem;
        border-radius: .75rem;
        box-shadow: var(--shadow-md-2);
    }
}

article:empty {
    display: none !important;
}
